*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
}

html.body{
    height: 100vh;
    width: 100vw;
}

body{
   
    overflow-x: hidden;

}

/* .overlay
{
     height: 100vh;
    width: 100vw;
    background-color: rgb(0,0, 0,0.40);
    position: fixed;
} */

#container{
    position: fixed;
    z-index: 20;
}
#header{
    width: 100vw;
    height: 7vw;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15vw;
    padding-left: 2vw;

}
#banner{
    display: flex;

}
#banner>a>img{
    position: relative;
    top: -10%;
    height: 8vw;
}
#banner>img{
    position: relative;
    top: -10%;
    height: 8vw;
}
#banner>#line{
    top: 5%;
    position: relative;
    height: 6vw;
}
#banner>p{
    font-size: 2vw;
    font-weight: 900;
    position: relative;
    left: 3%;
    top: 30%;
    color: #020C7B;
}
#email{
    display: flex;
    gap: 10px;
    position: relative;
    top: 2vw;
    padding-left: 5vw;
}
#email>h3{
    top: 7px;
    position: relative;
}
#email>img{
    height: 30px;
    position: relative;
    top: 4%;
}
#nav{
    height: 70px;
    width: 100%;
 background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: relative;
    top: 10%;
    z-index: 200;
}

.nav-menu{
    display: none;
}

#nav>img{
    height: 45px;
}

#nav>a{
    color: white;
    font-weight: 100;
    text-decoration: none;
    font-size: 1.5vw;
}
#nav>a:hover{
    color: #D0A54C;
}
#certificate>a{
    color: white;
    font-weight: 100;
    text-decoration: none;
    font-size: 1.5vw;
}
#certificate>ul{
    background-color: #ffffff;
    padding: 1vw;
    position: absolute;
    margin-top: 1vw;
    list-style: none;
}
#certificate>ul>h3{
    color: #020C7B;
    font-size: 1.5vw;
    padding-left: 1vw;
}
#certificate>ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 1.1vw;
    text-align: center;
    font-weight: 700;
}
#certificate>ul>li{
    padding: 1vw;
}
#nav>#menu{
    height: 30px;
    display: none;
}

#certificate>.dropdown{
    display: none;
}
#certificate>a:hover{
    color: #D0A54C;
}

#certify:hover + .dropdown,
.dropdown:hover {
    display: block;
}
.dropdown>li:hover{
    background-color: #d6d6d6;
    color: white;
}
#offer{
    width: 100vw;
    height: 3vw;
    background-color: #80786e;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

#offer>p{
    font-size: 2vw;
    font-weight: 900;
}
#offer>a>button{
    height: 2.5vw;
    width: 15vw;
    font-size: 1.5vw;
    font-weight: bolder;
    border: 2px solid black;
     animation: blink 1.5s steps(1,end) infinite; 
    background-color: black;
    color:white;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#scholar>img{
    position: relative;
    top: 15%;
    height: 1.8vw;
    padding-right: 2vw;
}

#main{
    position: relative;
    height: 100%;
    width: 100%;
}

 #page1
{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(Cal\ AI\ banner.png);
    background-size: cover;
    background-position-y: center;
}
#overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    width: 100vw;
    top: 0%;
    height: 100%;
}

#content{
    position: relative;
    height: 38vh;
    width: 50%;
    top: 25%;
    /* background-color: red; */
    display: flex;
    gap: 25px;
    padding-top: 5%;
     align-items: center;
    justify-content: space-around; 
    z-index: 5;
}

#content>h1{
    color: rgb(255, 255, 255);
    font-size: 3.5vw;
    text-align: center;
    position: relative;
    left: 45%;
    white-space: nowrap ;
}

#content>h1>sup{
    font-size: 2.5vw;
}

#applybtn{
    position: absolute;
    top: 280px;
    right: 0;
    z-index: 5;
    position: fixed;
}
#applybtn>button{
    height: 15vw;
    width: 5vw;
    font-size: 2vw;
    background-color: rgb(34, 30, 30);
    transform: rotate(180deg);
}
#applybtn>button>a{
  text-decoration: none;
  font-weight: 700;
  color: white;
  writing-mode: vertical-lr;

}
#applybtn>button:hover{
    background-color: black;
    scale: 120%;
    transition: all 0.5sec ease-in;
}

.page-1-button{
    position: fixed;
    z-index: 5;
    right: 0;
    top: 50%;
}


.page-1-button>a>button{
    height: 5vw;
    width: 18vw;
    background-color: rgb(43, 42, 42);
    color: white;
    border: 4px solid rgb(0, 0, 0);
    font-size: 2.2vw;
    z-index: 5;
    top: 50%;
    right: 0;
    transform: rotate(270deg)
}


.page-1-button>a>button:hover{
    background-color: black;
    scale: 120%;
    transition: all 0.5sec ease-in;
}
.nav-menu.show{
    margin-top: 2px;
    border: none;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2vh;
    border: solid 1px;
    background: orange;
    opacity: 0.9;
    color: black;
}

.nav-menu > a {
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
    font-weight: 550;
}

.nav-menu > a :hover {
   cursor: pointer;
}
@media (min-width:800px){
    #m-page1{
        display: none;
    }
    @media (min-width: 800px){
        #menu-line{
            display: none;
        }
        #m-testimonials{
            display: none;
        }
    }
    
    
}

    
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
#nav{
    display: none;
}
#header{
    height: 8vh;
    gap: 2vw;
}
#banner>a>#logo{
    height: 8vh;
    width: 20vw;
    padding-top: 2vh;
}
#banner>#line{
    height: 7vh;
    padding-top: 1vh;
    
}
#banner>p{
    font-size: 3vw;
}
#email{
    display: flex;
    flex-direction: column;
    padding-right: 5vw;
    gap: 0.5vh;
    padding-bottom: 1vh;
}
#email>img{
    height: 2vh;
}
#h-email{
    display: none;
}
#email>#info{
font-size: 1.5vh;
padding-bottom: 5vh;
}
#offer{
height: 5vh;
gap: 1vw;
background-color: rgb(255, 137, 27);
}

#menu-line{
display: inline;
position: relative;
width: 8vw;
height: 5vh;
left: 2%;
background: none;
border: none;
}
#offer>p{
position: relative;
font-size: 3.5vw;
left: 5%;
padding-right: 5vw;
font-size: 900;
}
#offer>a>button{
    position: relative;
    animation: none;
    height: 3.5vh;
    width: 25vw;
    font-size: 3vw;
    background-color: black;
    color: white;
    left: -5%;
    animation: blink 1.5s steps(1,end) infinite;
}

#scholar>img{
height: 4vw;
}
   #nav{
    display: none;
   }
    #page1{
        display: none;
    }
    #m-page1{
        padding-top: 2vh;
        height: 40vh;
        background-image: url(Cal\ AI\ banner.png);
        background-size: cover;
        background-position-y: center;
    }
    #m-overlay{
        position: relative;
        top: -50%;
            background-color: rgb(0,0, 0,0.40);
            height: 42vh;
        }
    #content{
        flex-direction: column;
        z-index: 10;
        gap: 1vh;
        height: 10vh;
        width: 80vw;
        padding-top: 15vh;
        position: relative;
        left: 8%;;
    }
    #content>h1{
        text-align: center;
        font-size: 2vh;
        left:4%;
        top: -7vw;
    }
    .m-page-1-button{
        display: flex;
        gap: 2vw;
    }
    .m-page-1-button>a>button{
        background-color: black;
        color: white;
        width: 35vw;
        height: 7vw;
        position: relative;
        top: -7vw;

    }
}
#page2{
    width: 100vw;
}

#page2>h1{
    padding-top: 3vw;
    padding-left: 3vw;
    font-size: 2.5vw;
    color: #020C7B;
}
#overview{
    padding: 3vw;
}

#overview>h1{
    font-size: 2.5vw;
    color: #020C7B;
}

#overview>p{
    margin-top: 1vw;
    font-size: 1.5vw;
}

#eligibility{
    padding: 2vw;
    background: linear-gradient(to right,#0d1141,#1d2dd6);
    margin-left: 2vw;
    margin-right: 2vw;
    color: white;
}
#eligibility>h1{
    font-size: 2.5vw;
}

#eligibility>p{
    margin-top: 1vw;
    font-size: 1.5vw;
}

#eligibility>h3{
    font-size: 2vw;
    margin-top: 1vw;
}

#learn{
    padding: 3vw;
}
#learn>h1{
    font-size: 2.5vw;
    color: #020C7B;
}

#learn>p{
    margin-top: 1vw;
    font-size: 1.5vw;
}

#modules{
    width: 100vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
#modules>h2{
    color: #020C7B;
    font-size: 2.5vw;
    margin-left: 2vw;
}
.mod-odd{
    background-color: rgba(228, 222, 222, 0.671);
    padding: 2vw;
}
.mod-odd>h3{
font-size: 1.8vw;
color: #020C7B;
}
.per{
 position: relative;
    left: 59vw;
    color: orange;
}
.line{
    height: 2px;
    width: 100%;
    background-color: rgb(168, 167, 167);
}
.list>ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: circle;
    font-size: 1.4vw;
    margin-top: 1vw;
    padding-left: 3vw;
    gap: 1vw;
}

#modules>a>#apply{
    width: 15vw;
    height: 4vw;
    font-size: 1.8vw;
    margin-left: 2vw;
    font-weight: 700;
    background-color: black;
    color: white;
    padding: 1vw;
    position: relative;
    top: -2vw;
}
#modules>a>#apply:hover{
    transform: scale(1.2);
    transition: all 15ms;
    background-color: rgb(255, 255, 255);
    color: black;
}

#key-outcomes{
    padding: 3vw;
    margin-left: 3vw;
    display: flex ;
    flex-direction: column;
    gap: 1vw;
}
#key-outcomes>h2{
    font-size: 2.5vw;
    color: #020C7B;
}
#key-outcomes>ol{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.4vw;
    margin-top: 1vw;
    padding-left: 3vw;
    gap: 1vw;
    list-style: square;

}
#price{
    height: 4vw;
    border: none;
    background-color: rgb(255, 122, 74);
    font-size: 1.7vw;
    color: white;
}

@media(max-width:786px){
    #page2{
        width: 100%;
    }
    #page2>h1{
        font-size: 4vw;
    }
    #overview>h1{
        font-size: 3.5vw;
    }
    #overview>p{
        font-size: 3vw;
    }
    #eligibility{
        height: 45vw;
    }
    #eligibility>h1{
        font-size: 3vw;
    }
    #eligibility>p{
        font-size: 3vw;
    }
    #eligibility>h3{
        margin-top: 4vw;
        font-size: 3vw;
    }
    #modules{
    margin-top: 5vw;
    }
    #modules>h2{
        font-size: 4vw;
    }
    .mod-odd{
        height: 38vw;
        width: 100%;
    }
    .mod-odd>h3{
        font-size: 3vw;
    }
    .mod-odd>h3>span{
        display: none;
    }
    .list>ul{
        font-size: 3vw;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #modules>a>#apply{
        width: 28vw;
        font-size: 3vw;
        height: 8vw;
    }
    #price{
        height: 10vw;
        font-size: 3vw;
      
    }
    #key-outcomes>h2{
        font-size: 4vw;
    }
    #key-outcomes>ol{
        font-size: 3vw;
        width: 100vw;
    } 
}

#page3{
    width: 100vw;
}
#resources{
    margin-left: 3vw;
}
#resources>h2{
    color: #020C7B;
    font-size: 2.5vw;
    margin-left: 2vw;
}
#resources>ul{
    padding: 2vw;
    display: flex;
    flex-direction: column;
    height: 17vw;
    gap: 1vw;
    list-style: none;
    font-size: 1.4vw;
}


#resources>ul>li>img{
    height: 30px;
    position: relative;
    top: 0.8vw;
    margin-right: 1vw;
}

@media(max-width:786px){
    #page3{
        height: 50vw;
        width: 100%;
    }
    #resources>h2{
        font-size: 4vw;
    }
    #resources>ul{
        flex-wrap: nowrap;
        font-size: 2.8vw;
        text-align: center;
        align-items: start;
        justify-content: start;
    }
    #resources>ul>li>img{
        position: relative;
        height: 6vw;
        top: 2vw;
    }
}

footer{
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    overflow-x: hidden;
    height: 60vh;
}

footer>h2{
    color: white;
    font-size: 3vw;
    padding-top: 1vw;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
}
.Faq{
    display: flex;
    flex-direction: column;
    gap: 2vw;;
    position: relative;
    width: 55%;
    padding-left:2vw;
    background-color: white;
}

.question{
    display: flex;
    gap: 2rem;
    height: 2vw;

}
.question>h3{
    color: rgb(0, 0, 0);
}
.question>img{
    position: relative;
    height: 2vw;
}

.answer {
display: none;
    font-size: 1.2vw;
   
}

.answer p{
    font-size: 1.2vw;
    color: rgb(0, 0, 0);
    position: relative;
}
.answer>ol>li>span{
    font-weight: 900;
}


#bottom>a{
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}
#bottom{
    position: relative;
    display: flex;
    padding-left: 2vw;
    top: -20vw;
    flex-direction: column;
    left: 65%;
    gap: 2vw;
}
#b-logo{
    position: relative;
    height: 8vw;
}

footer>p{
    position: relative;
    color: white;
    top: -23vw;
    left: 1%;
}
@media (max-width:768px) {
    footer{
        width: 100%;
        height: 100%;
    }
    .Faq{
        
        width: 95%;
    }

    .question{
        height: 2vh;
    }
    .question>h3{
        font-size: 1.1vh;
    }
    .question>img{
        height: 4vw;
    }
    .answer{
        display: none;
        font-size: 1.2vh;
        padding-left: 2vw;
    }
    .answer p{
        font-size: 1.2vh;
        color: rgb(0, 0, 0);
        position: relative;
    }
    .answer>ol>li>span{
        font-weight: 900;
    }
    footer>h2{
        font-size: 5vw;
    }
    #bottom{
        display: flex;
        flex-direction: row;
        top: 2%;
        left: -3%;
        gap: 1vw;
        align-items: center;
        justify-content: center;
    }
    #bottom>P{
        font-size: 2vw;
    }
    #bottom>a{
        font-size: 2.5vw;
    }
    #bottom>a>img{
        position: relative;
        top: -10%;
        height: 8vw;
    }
    footer>p{
        position: relative;
        top: 5%;
        color: white;
        font-size: 2vw;
        padding-left: 4vw;
    }
}