*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
}

html.body{
    height: 100vh;
    width: 100vw;
}

body{
   /* background-image: url(Cal\ AI\ banner.png);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: center; */
    overflow-x: hidden;

}

/* .overlay
{
     height: 100vh;
    width: 100vw;
    background-color: rgb(0,0, 0,0.40);
    position: fixed;
} */

#nav{
    height: 100px;
    width: 80%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    left: 10%;
    margin-top: -10px;
    position: relative;
    position: fixed;
    z-index: 8;
}

#nav>img{
    height: 60px;
}

#nav>a{
    color: white;
    font-weight: 100;
    text-decoration: none;
    font-size: 1.2vw;
}
#nav>#menu{
    height: 30px;
    display: none;
}

/* #account
{
    height: 80px;
    width: 40%;
    /* background-color: red;
    position: relative;
    display: flex;
    gap: 1vw;
    left: 50%;
    position: fixed;
    z-index: 8;
    top: 80px;

}

#account>button{
    height: 3vw;
    width: 15vw;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 1.5vw;

} */

@media (max-width: 600px) {
    #nav {
        width: 100%;
        left: -20%;
        gap: 55vw;
        margin-left: 2%;
    }
    #nav>img{
        height: 60px;
    }
    #nav>a{
        display: none;
    }
    #nav>#menu{
        display: block;
    }
}

 
/* Media Query for Large Screens (e.g., desktop) */

  
    /* Adjust other styles for even larger screens */

#main{
    position: relative;
    height: 100%;
    width: 100%;
}

 #page1
{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(Cal\ AI\ banner.png);
    background-size: cover;
    background-position-y: center;
}
#overlay{
    position: relative;
top: -50%;
    height: 120vh;
    width: 100vw;
    background-color: rgb(0,0, 0,0.40);
}

#content{
    position: relative;
    height: 250px;
    width: 55%;
    top: 26%;
    /* background-color: red; */
    display: flex;
    gap: 10px;
    padding-top: 5%;
    align-items: center;
    justify-content: space-around;
    left: 35%;
    z-index: 5;
}
#content>img{
    height: 80px;
    padding-top: 1vw;
}
#content>h1{
    color: white;
    padding-left: 5vw;
    font-size: 3vw;
}
#page1>button{
    position: relative;
    height: 5vw;
    width: 20vw;
    top: 30%;
    left: 43%;
    background-color: transparent;
    color: white;
    border: 4px solid white;
    font-size: 1.5vw;
    z-index: 5;
}

#page1>button:hover{
    background-color: black;
    scale: 120%;
    transition: all 0.5sec ease-in;
}
@media (max-width: 600px) {
    #page1 {
        width: 100%;
        left: 0;
    }
    #content{
        left: 25%;
        gap: 15vw;
    }
    #content>h1{
        font-size: 5vw;
        width: 100%;
    }
    #content>img{
        height: 15vw;
    }
    #page1>button{
        height: 15vw;
        width: 50vw;
        font-size: 5vw;
        left: 25%;
    }
    #page1>button:hover{
        background-color: black;
        scale: 120%;
        transition: all 0.5sec ease-in;
    }
}
#page2
{
    position: relative;
    height: 70vh;
    width: 100vw;
    background: linear-gradient(to bottom,#FFFFFF,#7B7B7B);
}
#page2-content{
    position: relative;
    height: 50vh;
    width: 80vw;
    /* background-color: red;  */
     top: 10%; 
    left: 15%;
    display: flex;
    gap: 70px;
 
}
#con1{
    position: relative;
    font-size: 2.8vw;
    width: 150vw;
    font-weight: 900;
    color: rgba(23, 17, 77, 1);
    top: 10%;
}

#con2{
    position: relative;
    font-size: 1.8vw;
    padding-right: 3vw;
    color: black;
    top: 10%;
    font-weight: 100;
}
#line4{
    position: relative;
}

@media (max-width: 600px) {
    #page2 {
        height: 180vw;
        width: 100%;
        left: 0;
    }
    #con1{
       width: 80vw;
        font-size: 7vw;
    }
    #page2-content{
        flex-direction: column;
        left: 5%;
        gap: 10vw;
    }
    #page2-content>img{
        display: none;
    }
    #con2{
        width: 90vw;
        font-size: 5vw;

    }
}

#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom,#7B7B7B,#FFFFFF);
}

#page3>button{
    position: relative;
    height: 5vw;
    width: 18vw;
    font-size: 2vw;
    background-color: black;
    color: white;
    border: 3px solid black;
    top: 5%;
    left: 39%;
}

#page3-content{
    height: 40vw;
    width: 80vw;
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    top: 0%;
    left: 8%;
}
.course{
position: relative;
height: 37vw;
width: 25vw;
background-color: rgb(0, 0, 0,0.76);
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
border: 8px solid black;
border-radius: 15px;
backdrop-filter: blur(7px);
top: 40px;
}

.course>img{
    height: 14.2vw;
    position: relative;
    left: 1px;
    top: 10px;
}
.course>button{
    position: relative;
    height: 3vw;
    width: 10vw;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: #17114D;
    color: white;
    border: 2px solid white;
}

.course>p{
    position: relative;
    width: 90%;
    left: 14px;
    color: white;
    font-size: 1.2vw;

}
#course-details{
    height: 2vw;
    width: 20vw;
    /* background-color: #17114D; */
    position: relative;
    left: 2px;
}
#details-con1{
    display: flex;
    gap: 70px;
    font-size: 1vw;
    font-weight: 400;
    color: white;
}

#details-con2{
    display: flex;
    gap: 40px;
    font-size: 1vw;
    color: white;
    font-weight: 500;
}
#apply{
    width: 14vw;
    border-radius: 2vw;
}

@media (max-width:600px) {
    #page3{
        height: 400vw;
    }
    #page3>button{
        height: 20vw;
        width: 80vw;
        top: -11%;
        font-size: 5vw; 
        left: 10%;
}
#page3-content{
    height: 100vw;
    width: 100vw;
    top: -12%;
    left: 0%;
}
.course{
    height: 135vw;
    width: 90vw;
}
.course>img{
    height: 50vw;
}
.course>button{
    height: 10vw;
    width: 40vw;
    font-size: 6vw;
}
.course>p{
    font-size: 4vw;
    left: 0%;
}

#course-details{
    width: 100vw;
    left: 13%;
}

#details-con1{
    font-size: 4vw;
    width: 80vw;
    left: -0%;
    gap: 20vw;
}
#details-con2{
    font-size: 3vw;
    gap: 18vw;
}
#apply{
    width: 45vw;
    height: 5vh;
    top: 5%;
    left: -1%;
}
}

#page4{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom,#FFFFFF,#7B7B7B);
}

#page4>h1{
    position: relative;
    width: 85%;
    font-size: 3vw;
    top: 5%;
    left: 7%;
    color: #17114D;
    font-weight: 900;
}
.page4-content{
    position: relative;
    height: 70vh;
    width: 100vw;
    /* background-color: red; */
    top: 15%;
    display: flex;
    gap: 2vw;
    padding-left: 7vw;
}
.page4-tab{
    position: relative;
    height: 60vh;
    width: 20vw;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.page4-tab>h3{
    color: #FF4D00;
    font-size: 1.5vw4
}
.page4-tab>h1{
     text-decoration: underline; 
    color: #17114D;
    font-size: 5vw;
}

.page4-tab>h2{
    text-decoration: underline;
}
.page4-tab>p{
    font-weight: bolder;
}
@media (max-width:600px){
    #page4{
        height: 320vw;
    }
    #page4>h1{
        font-size: 8vw;
        top: 3%;
        left: 8%;
    }
    .page4-content{
        left: -2%;
        top: 3%;
        flex-direction: column;
    }
    .page4-tab{
        width: 90vw;
        border-bottom: 1px solid black;
        padding: 3VW;
    }
    .page4-tab>h3{
        font-size: 5vw;
    }
    .page4-tab>h1{
        font-size: 12vw;
    }
    .page4-tab>h2{
        font-size: 4vw;
    }
    .page4-tab>p{
        font-size: 4vw;
    }
}


#page5{
    height: 100vh;
    width: 100vw;
     background: linear-gradient(to bottom,#7B7B7B,#FFFFFF);
     display: flex;
     position: relative;
     gap: 20vw;
}
#page5-con1{
    height: 60vh;
    width: 60vh;
    background-color: rgba(0, 0, 0, 0.66);
    position: relative;
    top: 12%;
    left: 10%;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 4px solid #7C7C7C;
}

#page5-con1>h2{
    position: relative;
    left: 4%;
    color: #FF4D00;
    font-weight: 700;
}
#page5-con1>ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 80%;
    left: 8%;
    color: #FFFFFF;
}

#page5-con1>button{
    position: relative;
    left: 4%;
    height: 4vw;
    width: 15vw;
    font-size: 1.5vw;
    color: #FF4D00;
    background-color: black;
    border: 3px solid #A3A3A3;
}
#page5>img{
    height: 35vw;
}
@media (max-width:600px) {
    #page5{
        flex-direction: column;
        gap: 10vw;
        height: 180vw;
    }
    #page5-con1{
        left: 5%;
        width: 90vw;
        height: 70vw;
        top: -1%;
    }
    #page5>img{
        margin-bottom: 8vw;
        margin-left: 5vw;
        width: 90vw;
        height: 50vh;
    }
    #page5-con1>button{
        left: 8%;
        height: 10vw;
        width: 40vw;
        font-size: 4vw;
    }
    
}

#page6{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom,#FFFFFF,#7B7B7B);
}

#page6>h2{
    position: relative;
    top: -10%;
    left: 10%;
    font-size: 4vw;
    font-weight: 100;
}
#testimonial{
    position: relative;
    height: 70vh;
    width: 80vw;
    /* background-color: red; */
    top: 0%;
    left: 15%;
    display: flex;
    gap: 8vw;
}

.testi-content{
    position: relative;
    height: 60vh;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.76);
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.testi-content>p{
    color: white;
    width: 85%;
    position: relative;
    left: 5%;
    font-size: 1.18vw;
}
.testi-details{
    height: 20vh;
    width: 30vw;
    display: flex;
    padding: 1vw;
    gap: 2vw;
}

.testi-img>img{
    height: 8vw;
}

.testi-info{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    top: 5%;
}

.testi-info>p{
    font-size: 1vw;
}
@media (max-width:600px) {
    #page6{
        height: 220vw;
    }
    #page6>h2{
       top: -8%;
        font-size: 7vw;
        left: 5%;
    }
    #testimonial{
        top: 5%;
        flex-direction: column;
    }
    .testi-content{
        top: -15%;
        left: -12%;
        width: 90vw;
    }
    .testi-details{
        gap: 4vw;
    }
    .testi-img>img{
        height: 30vw;
    }
    .testi-info>h3{
font-size: 6vw;
    }
    .testi-info>p{
        width: 40vw;
        font-size: 3vw;
            }
            .testi-content>p{
                top: -5%;
                font-size: 4vw;
            }
}

 /* #page7{
    height: 60vh;
    width: 100vw;
    background: linear-gradient(to bottom,#7B7B7B,#FFFFFF);
}  */

footer{
    width: 100vw;
    height: 60vh;
    background-color: black;
}
#foot-con1{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2vw;
    height: 35vh;
    /* background-color: aliceblue; */
    padding: 1.5vw;
    color: #A8A8A8;
    left: 1.5vw;
    font-weight: 100;
}
.foot-con2{
   position: relative;
   display: flex;
   gap: 20vw;
   left: 3vw;
}
#foot-con2-1{
    color:#A8A8A8 ;
    line-height: 3vw;
}
#connect{
    position: relative;
    color: #A8A8A8;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    left: 8.8vw;
}
#connect>img{
    position: relative;
    left: -1vw;
    height: 3vw;
}

@media (max-width:600px) {
    footer{
        width: 100vw;
        height: 80vh;
    }
    
}
