*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
}

html.body{
    height: 100vh;
    width: 100vw;
}

body{
   /* background-image: url(Cal\ AI\ banner.png);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: center; */
    overflow-x: hidden;

}

/* .overlay
{
     height: 100vh;
    width: 100vw;
    background-color: rgb(0,0, 0,0.40);
    position: fixed;
} */

#container{
    position: fixed;
    z-index: 20;
}
#header{
    width: 100vw;
    height: 7vw;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15vw;
    padding-left: 2vw;

}
#banner{
    display: flex;

}
#banner>img{
    position: relative;
    top: -10%;
    height: 8vw;
}
#banner>#line{
    top: 5%;
    position: relative;
    height: 6vw;
}
#banner>p{
    font-size: 2vw;
    font-weight: 900;
    position: relative;
    left: 3%;
    top: 30%;
    color: #020C7B;
}
#email{
    display: flex;
    gap: 10px;
    position: relative;
    top: 20px;
    padding-left: 5vw;
}
#email>h3{
    top: 7px;
    position: relative;
}
#email>img{
    height: 30px;
    position: relative;
    top: 4%;
}
#nav{
    height: 70px;
    width: 100%;
 background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: relative;
    top: 10%;
    z-index: 200;
}

.nav-menu{
    display: none;
}

#nav>img{
    height: 45px;
}

#nav>a{
    color: white;
    font-weight: 100;
    text-decoration: none;
    font-size: 1.5vw;
}
#nav>#menu{
    height: 30px;
    display: none;
}

#offer{
    width: 100vw;
    height: 3vw;
    background-color: #ff9900;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

#offer>p{
    font-size: 2vw;
    font-weight: 900;
}
#offer>a>button{
    height: 3vw;
    width: 15vw;
    font-size: 2vw;
    font-weight: bolder;
    border: 2px solid black;
    animation: blink 1.5s steps(1,end) infinite;
}
@media (min-width: 1280px){
    #menu-line{
        display: none;
    }
    #m-testimonials{
        display: none;
    }
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* #account
{
    height: 80px;
    width: 40%;
    /* background-color: red;
    position: relative;
    display: flex;
    gap: 1vw;
    left: 50%;
    position: fixed;
    z-index: 8;
    top: 80px;

}

#account>button{
    height: 3vw;
    width: 15vw;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 1.5vw;

} */

@media (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    #nav{
        display: none;
    }
    #header{
        height: 8vh;
        gap: 2vw;
    }
    #banner>#logo{
        height: 8vh;
        width: 20vw;
        padding-top: 2vh;
    }
    #banner>#line{
        height: 7vh;
        padding-top: 1vh;
        
    }
    #banner>p{
        font-size: 3vw;
    }
    #email{
        display: flex;
        flex-direction: column;
        padding-right: 5vw;
        gap: 0.5vh;
        padding-bottom: 5vh;
    }
    #email>img{
        height: 2vh;
    }
    #h-email{
        display: none;
}
#email>#info{
    font-size: 1.5vh;
    padding-bottom: 5vh;
}
#offer{
    height: 5vh;
    gap: 1vw;
}

#menu-line{
    display: inline;
    position: relative;
    width: 8vw;
    height: 5vh;
    left: 2%;
    background: none;
    border: none;
}
#offer>p{
    position: relative;
    font-size: 3.5vw;
    left: 5%;
    padding-right: 5vw;
    font-size: 900;
}
#offer>a>button{
    position: relative;
    animation: none;
    height: 3.5vh;
    width: 25vw;
    font-size: 3.5vw;
    background-color: black;
    color: white;
    left: -5%;
    animation: blink 1.5s steps(1,end) infinite;
}
}
 


#main{
    position: relative;
    height: 100%;
    width: 100%;
}

 #page1
{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(Cal\ AI\ banner.png);
    background-size: cover;
    background-position-y: center;
}
#overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    width: 100vw;
}

#content{
    position: relative;
    height: 250px;
    width: 55%;
    top: 25%;
    /* background-color: red; */
    display: flex;
    gap: 25px;
    padding-top: 5%;
    align-items: center;
    justify-content: space-around;
    left: 25%;
    z-index: 5;
}
#content>img{
    height: 80px;
    padding-top: 1vw;
}
#content>h1{
    color: white;
    padding-left: 5vw;
    font-size: 3vw;
}
#page1>a>button{
    position: relative;
    height: 5vw;
    width: 20vw;
    top: 25%;
    left: 35%;
    background-color: rgb(43, 42, 42);
    color: white;
    border: 4px solid rgb(0, 0, 0);
    font-size: 1.5vw;
    z-index: 5;
}

#page1>a>button:hover{
    background-color: black;
    scale: 120%;
    transition: all 0.5sec ease-in;
}
@media (max-width: 768px) {
    #page1{
        display: none;
    }
    #m-page1{
        padding-top: 2vh;
        height: 40vh;
        background-image: url(Cal\ AI\ banner.png);
        background-size: cover;
        background-position-y: center;
    }
    #m-overlay{
        position: relative;
        top: -50%;
            background-color: rgb(0,0, 0,0.40);
            height: 42vh;
        }
    #content{
        flex-direction: column;
        z-index: 10;
        gap: 1vh;
        height: 10vh;
        width: 80vw;
        gap: 5vh;
        padding-top: 15vh;
        position: relative;
        left: 8%;
    }
    #content>h1{
        text-align: center;
        font-size: 2vh;
    }
    #content>a>button{
        z-index: 10;
        background-color: black;
        color: white;
        width: 40vw;
height: 3vh;
position: relative;
left: 5%;
    }
    #m-course{
        height: 55vh;
        width: 100%;
        padding: 2vh;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
    #m-course>h1{
        text-align: center;
        color: #07126E;
    }
    #m-des{
        display: flex;
        flex-direction: column;
    }
    #m-content{
        position: relative;
        display: flex;
        top: 5%;
        height: 10vh;
    }
    #m-content>img{
        position: relative;
        left: -2%;
height: 10vh;
    }
    #m-content>a>button{
        position: relative;
        width: 40vw;
        height: 5vh;
        top: 10%;
        font-weight: 900;
        background-color: #D0A54C;
        border: none;
    }
    #m-des>h2{
        width: 55vw;
        font-size: 2.2vh;
        color: #07126E;
    }
    #m-des>p{
        font-size: 1.5vh;
    }
    #m-course>button{
        position: relative;
        top: 5%;
        height: 5vh;
        width: 60vw;
        font-size: 2vh;
        font-weight: bolder;
        background-color: #07126E;
        color: white;
        border: none;
        left: 20%;
    }
    #m-image-slider{
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 2vh;
        overflow-x: hidden;
        height: 16vh;
        width: 100%;
    }
    #m-image-slider>h2{
font-size: 4vw;
position: relative;
left: 3%;
margin-bottom: 10vw;
    }
    #m-slider{
        display: flex;
        animation: slide_animation 10s infinite linear;
        position: relative;
        top: -15%;
    }
    #m-slide-images{
        display: flex;
        z-index: 5;
        white-space: nowrap;
    }
    #m-slide-images>img{
        height: 5vh;
    }

    #m-testimonials{
        width: 100%;
        height: 55vh;
        gap: 4vw;
        display: flex;
        flex-direction: column;
        padding: 2vw;
    }
    #m-testimonials>h3{
        padding-left: 3vw;
    }
    .m-testi-content{
        display: flex;
        width: 100%;
        padding: 4vw;
        border: 1px solid black;
        gap: 3vw;
    }
    .m-testi-details{
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }
    .m-testi-img>img{
        height: 20vw;
    }
    .m-testi-info>h3{
        font-size: 2.8vw;
    }
    .m-testi-info>p{
        font-size: 3vw;
    }
    .m-testi-content>P{
        font-size: 3vw;
        text-align: justify;
    }
}
  


@media (min-width:1280px) {
    #m-page1{
        display: none;
    }
    #m-course{
        display: none;
    }
    #m-image-slider{
        display: none;
    }
#overlay{
    height: 61%;
}
}

@media(min-width:1366px)
{
    #overlay{
        height: 100%;
        top: 0%;
    }
    }
@media(min-width:1440px)
{
    #overlay{
        height: 100%;
    }
}
@media (min-width:1600px) {
    #overlay{
        height: 100%;
    }
}
@media(min-width:1920px)
{
    #overlay{
        height: 100%;
    }
    #page1>a>button{
        top: 30%;
        left: 33;
    }
    @media(min-width:2560px){
#overlay{
    height: 90%;
}
    }
}
#page2ext{
    width: 100vw;
    height: 18vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    padding-left: 2vw;
}
#page2ext>.content{
    height: 15vh;
    width: 20vw;
    position: relative;
    top: 5%;
    left: 0%;
    display: flex;
    gap: 30px;
}
.descrip{
    position: relative;
    top: 20%;
}
.descrip>h4{
    color: #9A0000;
    font-weight: bolder;
}
.content>img{
    height: 80px;
}
#payment{
    position: relative;
    top: 15%;
    height: 60px;
}
#desktop{
    position: relative;
    height: 70px;
    top: 10%;
}
#book{
    height: 70px;
}

#page2
{
    position: relative;
    display: flex;
    height: 45vh;
    width: 100vw;
    background-color: #d3d3d3;
}
#page2-content{
    position: relative;
    height: 50vh;
    width: 85vw;
    /* background-color: red;  */
     top: 10%; 
     left: 10%;
    display: flex;
    gap: 70px;
 
}
#con1{
    position: relative;
    font-size: 2.8vw;
    width: 150vw;
    font-weight: 900;
    color: rgba(23, 17, 77, 1);
    top: 10%;
}
#page2-content>img{
    position: relative;
    top: 0;
    height: 18vw;
}
#con2{
    position: relative;
    font-size: 1.8vw;
    padding-right: 3vw;
    color: black;
    top: 10%;
    font-weight: 100;
}

@media (max-width:768px) {
    #page2{
        display: none;
    }
    #page2ext{
        display: none;
    }
}



#page3{
    position: relative;
    height: 115vh;
    width: 100vw;
  
}

/* #page3>button{
    position: relative;
    height: 5vw;
    width: 18vw;
    font-size: 2vw;
    color: rgb(0, 0, 0);
    top: 5%;
    left: 39%;
} */
#page3>h3{
    font-size: 4vw;
    font-weight: 900;
    color: #020C7B;
    position: relative;
    left: 34%;
    top: 5%;
}
#page3-content{
    height: 50vh;
    width: 80vw;
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
    top: 5%;
    left: 8%;
}
.course{
position: relative;
height: 40vw;
width: 25vw;

display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
border: 3px solid black;

top: 40px;
}

.course>img{
    height: 16vw;
    position: relative;
    left: 1px;
    top: 10px;
}
.course>h3{
    font-size: 2vw;
    color: #07126E;
    text-align: center;
    font-weight: 900;
}

.course>p{
    position: relative;
    width: 90%;
    left: 14px;
    color: black;
    font-size: 1.2vw;

}
#course-details{
    height: 2vw;
    width: 20vw;
    /* background-color: #17114D; */
    position: relative;
    left: 2px;
}
#details-con1{
    display: flex;
    gap: 70px;
    font-size: 1vw;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

#details-con2{
    display: flex;
    gap: 40px;
    font-size: 1vw;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.applybtn{
    position: relative;
    top: 2%;
}
.apply{
    position: relative;
    width: 25vw;
    border: 3px solid black;
    text-transform: uppercase;
    font-size: 1.6vw;
    background-color: black;
    color: white;
    height: 4vw;
}

.apply:hover{
background-color: #ff9900;
color: black;
border: #ff9900;
height: 10vh;
font-size: 2vw;
transition: all 15ms;
}

@media (max-width:768px) {
    #page3{
        display: none;
    }
}
  

#page4{
    height: 75vh;
    width: 100vw;
background-color: #d4d2d2;
}

#page4>h1{
    position: relative;
    width: 85%;
    font-size: 2.5vw;
    top: 5%;
    left: 7%;
    color: #020C7B;
    font-weight: 900;
}
.page4-content{
    position: relative;
    height: 70vh;
    width: 100vw;
    /* background-color: red; */
    top: 8%;
    display: flex;
    gap: 2vw;
    padding-left: 7vw;
}
.page4-tab{
    position: relative;
    height: 60vh;
    width: 20vw;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.page4-tab>h3{
    color: #9A0000;
    font-size: 1.5vw;
}
.page4-tab>h1{
     text-decoration: underline; 
    color: #020C7B;
    font-size: 3vw;
}

.page4-tab>h2{
    font-size: 1.2vw;
    text-decoration: underline;
}
.page4-tab>p{
    font-weight: bolder;
}

#break{
    width: 100vw;
    height: 10vh;
}
@media (max-width:768px){
    #page4{
        position: relative;
        top: 10%;
        height: 122vh;
    }
    #page4>h1{
        font-size: 5vw;
        top: 3%;
        left: 8%;
    }
    .page4-content{
        left: -2%;
        top: 3%;
        flex-direction: column;
    }
    .page4-tab{
        width: 90vw;
        border-bottom: 1px solid black;
        padding: 3VW;
    }
    .page4-tab>h3{
        font-size: 4.5vw;
    }
    .page4-tab>h1{
        font-size: 12vw;
    }
    .page4-tab>h2{
        font-size: 4vw;
    }
    .page4-tab>p{
        font-size: 3.5vw;
    }
    #break{
        width: 100%;
        height: 4.2vh;
    }
}


#page5{
    height: 70vh;
    width: 100vw;
     background-color: #164dc4;
     display: flex;
     position: relative;
     gap: 10vw;
}
#page5-con1{
    height: 60vh;
    width: 40vw;
    position: relative;
    top: 1.5vw;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
}

#page5-con1>h2{
    font-size: 2.5vw;
    position: relative;
    left: 7%;
    color: #FF4D00;
    font-weight: 700;
}
#page5-con1>ul{
    font-size: 1.5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 80%;
    top: -5%;
    left: 8%;
    color: #fdfdfd;
}

#page5-con1>a>button{
    position: relative;
    left: 5%;
    height: 4vw;
    width: 18vw;
    font-size: 2vw;
    color: #ffffff;
    background-color: rgb(48, 46, 46);
    border: 3px solid black;
}
#page5-con1>a>button:hover{
    background-color: black;
    scale: 130%;
}
#page5>img{
    position: relative;
    height: 30vw;
    width: 45vw;
    top: 1.5vw;
}
@media (max-width:768px) {
    #page5{
        flex-direction: column;
        height: 50vh;
        width: 100%;
    }
    #page5-con1{
        position: relative;
        left: 5%;
        width: 90vw;
        height: 100vw;
    }
    #page5-con1>h2{
        font-size: 5vw;
    }
    #page5-con1>ul{
        position: relative;
        font-size: 3vw;
        top: 5%;
    }
    #page5>img{
        position: relative;
        margin-bottom: 8vw;
        margin-left: 5vw;
        width: 80vw;
        height: 60vh;
        top: -5%;
        padding-left: 5vw;
    }
    #page5-con1>a>button{
    display: none;  
    }
    
}

#page6{
    height: 80vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
}

#page6>h2{
    position: relative;
    top: 5%;
    font-size: 3vw;
    font-weight: 100;
    color: #164dc4;
    padding-left: 1vw;
}
#testimonial{
    position: relative;
    height: 70vh;
    width: 70vw;
    /* background-color: red; */
top: 10%;
    display: flex;
    gap: 3vw;
    padding-left: 1vw;
}

.testi-content{
    position: relative;
    height: 60vh;
    width: 30vw;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.testi-content>p{
    color: rgb(0, 0, 0);
    width: 85%;
    position: relative;
    left: 5%;
    font-size: 1.18vw;
}
.testi-details{
    height: 20vh;
    width: 30vw;
    display: flex;
    padding: 1vw;
    gap: 2vw;
}

.testi-img>img{
    height: 8vw;
}

.testi-info{
    position: relative;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 1vw;
    top: 5%;
}

.testi-info>p{
    font-size: 1vw;
}
@media (max-width:768px) {
    #page6{
   display: none;
}
}

 /* #page7{
    height: 60vh;
    width: 100vw;
    background: linear-gradient(to bottom,#7B7B7B,#FFFFFF);
}  */
#image-slider{
    height: 35vh;
    width: 100vw;
    background-color: #164dc4;
}

#image-slider>h2{
    color: white;
    font-size: 2vw;
    padding: 3vw;
    padding-left: 8vw;
    padding-right: 10vw;
}

#slider{
    display: flex;
    width: 80vw;
    gap: 2vw;
}
#slide-images{
    white-space: nowrap;
    animation: slide_animation 20s infinite linear;
    gap: 2vw;
    display: flex;
}
#slide-images>img{
    height: 5vw;
}

@media (max-width:600px){
    #image-slider{
        display: none;
    }
}

 @keyframes slide_animation {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
    
} 

footer{
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    overflow: hidden;
}

footer>h2{
    color: white;
    font-size: 3vw;
    padding-top: 1vw;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
}
.Faq{
    display: flex;
    flex-direction: column;
    gap: 2vw;;
    position: relative;
    width: 55%;
    padding-left:2vw;
    background-color: white;
}

.question{
    display: flex;
    gap: 2rem;
    height: 2vw;

}
.question>h3{
    color: rgb(0, 0, 0);
}
.question>img{
    position: relative;
    height: 2vw;
}

.answer {
display: none;
    font-size: 1.2vw;
   
}

.answer p{
    font-size: 1.2vw;
    color: rgb(0, 0, 0);
    position: relative;
}
.answer>ol>li>span{
    font-weight: 900;
}


#bottom>a{
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}
#bottom{
    position: relative;
    display: flex;
    gap: 12vw;
    padding-left: 2vw;
    top: 5%;
}
#bottom>a>img{
    position: relative;
    top: -10%;
    height: 50px;
}

footer>p{
    position: relative;
    top: 5%;
    color: white;
}
@media (max-width:768px) {
    footer{
        width: 100%;
    }
    .Faq{
        
        width: 95%;
    }

    .question{
        height: 2vh;
    }
    .question>h3{
        font-size: 1.1vh;
    }
    .question>img{
        font-size: 10vw;
    }
    .answer{
        display: none;
        font-size: 1.2vh;
    }
    .answer p{
        font-size: 1.2vh;
        color: rgb(0, 0, 0);
        position: relative;
    }
    .answer>ol>li>span{
        font-weight: 900;
    }
    footer>h2{
        font-size: 5vw;
    }
    #bottom>a{
        font-size: 2.8vw;
    }
    #bottom{
        gap: 2vw;
    }
    #bottom>a>img{
        position: relative;
        top: -10%;
        height: 8vw;
    }
    footer>p{
        position: relative;
        top: 10%;
        color: white;
        font-size: 2vw;
        padding-left: 4vw;
    }
}

/* Nav Menu Toggle */
.nav-menu.show{
    margin-top: 2px;
    border: none;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2vh;
    border: solid 1px;
    background: orange;
    opacity: 0.9;
    color: black;
}

.nav-menu > a {
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
    font-weight: 550;
}

.nav-menu > a :hover {
   cursor: pointer;
}
